PORT=3001
HOST=0.0.0.0
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=auth"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# RabbitMQ Configuration
RABBITMQ_URL="amqp://localhost:5672"

# Security
JWT_SECRET="your-256-bit-secret"
JWT_EXPIRES_IN="7d"
BCRYPT_ROUNDS="10"
