# Caddyfile for VaultPay API Gateway
# Uses nip.io to automatically provision a free Let's Encrypt SSL Certificate
# for your AWS EC2 instance without buying a domain.

3-131-133-163.nip.io {
    reverse_proxy api-gateway:3000
}
